<div>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Hoodie</h3>
  </div>

  <div class="modal-body">

    <ul class="nav nav-pills">
      <li class="active">
        <a href="#hoodieAccountModalSignUp" data-toggle="tab">Sign Up</a>
      </li>
      <li>
        <a href="#hoodieAccountModalSignIn" data-toggle="tab">Sign In</a>
      </li>
      <li class="resendPassword">
        <a href="#hoodieAccountModalRestPassword" data-toggle="tab">Forgot Password</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active signUp" id="hoodieAccountModalSignUp">
        <form>
          <input class="username span3" type="text" placeholder="Email"><br>
          <input class="password span3" type="password" placeholder="Password"><br>
          <input class="password_confirmation span3" type="password" placeholder="Password">
        </form>
        <div class="modal-footer">
          <button type="submit" class="submit btn btn-primary">Sign up</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div class="tab-pane signIn" id="hoodieAccountModalSignIn">
        <form>
          <input class="username span3" type="text" placeholder="Email"><br>
          <input class="password span3" type="password" placeholder="Password">
        </form>
        <div class="modal-footer">
          <button type="submit" class="submit btn btn-primary">Sign in</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div class="tab-pane resendPassword" id="hoodieAccountModalRestPassword">
        <form>
          <input class="email span3" type="text" placeholder="Email"><br>
        </form>
        <div class="modal-footer">
          <button type="submit" class="submit btn btn-primary">Reset password</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>

  </div>

</div>